<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:thref="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Advert</h1>
<table>
    <tr>
        <th>Title</th>
        <td th:text="${advert.name}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${advert.description}"></td>
    </tr>
    <tr>
        <th>Price</th>
        <td th:text="${advert.price}"></td>
    </tr>
    <tr>
        <a th:href="'/edit/' + ${advert.id}">Edit</a>
        <th></th>
    </tr>
</table>



</body>
</html>