<!DOCTYPE html>
<html lang="en" style="display:flex;width:100%" xmlns:th="http://www.w3.org/1999/xhtml">
<iframe title="adblockertest" class="pub_300x250 pub_300x250m pub_728x90 text-ad textAd
text_ad text_ads text-ads text-ad-links -adv.js -adv.jpg"
        style="width:0;height:0;display:block"></iframe>
<div class="LayoutStyles_FullHeightWrapper-sc-du5f0h-0 eVHPHo">
<head>
<body background="https://s.tmimgcdn.com/scr/800x500/207600/familj-online-shopping-gratis-vektor-illustration-koncept_207629-original.jpg">

</body>
    <meta charset="UTF-8">
    <title>Secret</title>

    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
</head>
<body>
<h1 style="font-size: 58px; font-family: BlocketSans-Bold, sans-serif; color:red">Shop:it</h1>
<h2 style="font-family: BlocketSans-Bold, sans-serif;"> Create your advert here </h2>

<!--<div>
    <p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    <h3>text här</h3>

    id,name,price,description, url;

    <form th:action="@{/login}" method="POST">
        <div><label> id : <input type="text" name="username"/> </label></div>
        <div><label> name: <input type="" name="password"/> </label></div>
        <div><label> price: <input type="password" name="password"/> </label></div>
        <div><label> description: <input type="password" name="password"/> </label></div>
        <div><label> url: <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    -->


    <form th:action="'/save/' + ${owner.id}" method="post" th:object="${advert}">
        <p th:if="${#fields.hasErrors('name')}">Incorrect value in product name!</p>
        <div><label> Product name : &emsp;&emsp;&nbsp;<input type="text" name="name"/> </label></div>
        <p th:if="${#fields.hasErrors('price')}">Incorrect value in product price!</p>
        <div><label> Product price : &emsp;&nbsp;&nbsp;&ensp;&nbsp;&nbsp;<input type="number" name="price"/> </label></div>
        <p th:if="${#fields.hasErrors('description')}">Incorrect value in description!</p>
        <div><label> Product description : <input type="text" name="description"/> </label></div>
        <p th:if="${#fields.hasErrors('currency')}">Incorrect value in currency!</p>
        <div><label> Product currency : &emsp;<input type="text" name="currency"/> </label></div>


<br>
        <input type="submit" value="Create"/>
    </form>



    <!--<div sec:authorize="hasRole('ROLE_ADMIN')"> -->
<br>

        <a style="font-family: BlocketSans-Bold, sans-serif;" href="http://localhost:8080/">Back to homepage</a>
</body>
</div>



</div>

</body>
</html>