<!DOCTYPE html>
<html lang="en" style="display:flex;width:100%" xmlns:th="http://www.w3.org/1999/xhtml">
<iframe title="adblockertest" class="pub_300x250 pub_300x250m pub_728x90 text-ad textAd
text_ad text_ads text-ads text-ad-links -adv.js -adv.jpg"
        style="width:0;height:0;display:block"></iframe>
<div class="LayoutStyles_FullHeightWrapper-sc-du5f0h-0 eVHPHo">
</div>
<head>
    <meta charset="UTF-8">
    <title>Shop:it</title>
</head>
<body background="https://a.storyblok.com/f/79434/1500x900/1b8e210b35/detail-page-the-who-what-and-where-of-online-shopping-in-2023.png">

</body>
<body style="width:100%">
<h1 style="font-size: 58px; font-family: BlocketSans-Bold, sans-serif; color:black">Shop:it</h1>
</body>
<body>


<form th:action="'/saveEdit/' + ${advert.id}" method="post" th:object="${advert}">
    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{price}"/>
    <input type="text" th:field="*{description}"/>

    <input type="submit" value="Save"/>
</form>
<br>
<br>
<br>

<a href="/">Back to homepage</a>


</body>
</html>