<!DOCTYPE html>
<html lang="en" style="display:flex;width:100%" xmlns:th="http://www.w3.org/1999/xhtml">
<iframe title="adblockertest" class="pub_300x250 pub_300x250m pub_728x90 text-ad textAd
text_ad text_ads text-ads text-ad-links -adv.js -adv.jpg"
        style="width:0;height:0;display:block"></iframe>
<div class="LayoutStyles_FullHeightWrapper-sc-du5f0h-0 eVHPHo">



<head>

    <meta charset="UTF-8">
    <title>Start</title>
</head>
    <body background="https://a.storyblok.com/f/79434/1500x900/1b8e210b35/detail-page-the-who-what-and-where-of-online-shopping-in-2023.png">

    </body>
<body style="width:100%">
                       <h1 style="font-size: 58px; font-family: BlocketSans-Bold, sans-serif; color:red">Shop:it</h1>

<h2 style="font-family: BlocketSans-Bold, sans-serif;"> Adverts </h2>

<table>
    <tr>
        <th style="font-size: 18px;font-family: BlocketSans-Bold, sans-serif;text-align:left">Title:</th>
        <th style="font-size: 18px;font-family: BlocketSans-Bold, sans-serif;text-align:right">&emsp;&emsp;&emsp;Price:</th>
    </tr>
</table>

<table>
    <tr th:each="advert : ${repository}">
        &nbsp;
        &nbsp;
        <th style="font-size: 14px;font-family: BlocketSans-Bold, sans-serif;text-align:left": th:text="${advert.name}"></th>


        <th style="font-size: 14px;font-family: BlocketSans-Bold, sans-serif;text-align:right": th:text="${advert.price}"></th>

            <th style="font-size: 14px;font-family: BlocketSans-Bold, sans-serif;text-align:right": th:text="${advert.currency}"></th>

            <th style="font-size: 14px;font-family: BlocketSans-Bold, sans-serif;"> <a th:href="'/advert/' + ${advert.id}">&nbsp;Read more</a></th>


    </tr>
</table>


<div>
    <br>
    <a style="font-family: BlocketSans-Bold, sans-serif;" href="/CreateAdvert">Create Advert</a>
</div>



</body>
</div>
</html>