<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
</head>
<body>
<h1>Adverts</h1>

<table>
    <tr>
        <th>Title</th>
        <th>Price</th>
    </tr>
    <tr th:each="advert : ${repository}">
        <th th:text="${advert.name}"></th>
        <th th:text="${advert.price}"></th>
        <th><a th:href="'/advert/' + ${advert.id}">Read more</a></th>
        <th><a href="/cart">Add to cart</a></th>

        <th><form action="/cart" method="post">
            <input type="checkbox"/>

            <input type="submit"/>
        </form></th>

    </tr>
</table>


<div>
    <a href="/cart">Shopping Cart</a>
    <a href="/CreateAdvert">CreateAdvert</a>
</div>



</body>
</html>